.rateit {
 clear:both;
}
.rateit h3 {
	border-width: 1px 0;
	border-style: solid;
	border-color: #bfbfbf;
	background: #fbfbfb;
	padding: 5px;
	margin: 20px 0 8px 0;
	font-size: 1.2em;
}
.rateit-fullnote{
  float:left;
  margin-right:10px;
  font-size: 1.2em;
  font-weight: bold;
}
.rateit-linker, .rateitwidget-linker {
  float:left;
}
.rateit ul, .rateitwidget ul {
  clear:both;
}
.rateit li {
	display: inline;
    white-space: nowrap;
    list-style: none;
    padding-left: 12px;
    background: transparent url(img/star_little.png) no-repeat 0 0;
}
